
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: aliceblue;
}

.boxback {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 200px;
    margin-right: 200px;
}

.h1 {
    font-weight: 800;
}
    /* mobile s */
    
@media screen and (max-width: 320px) {
.boxback {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    margin-left: 50px;
    margin-right: -590px;
}

h1 {
    font-size: 35px;   
}

}