
body {
    background-color: aliceblue;
    padding: 0;
}

.boxback {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: rgb(0, 0, 0);
}

.h1 {
    font-weight: 800;
}

    /* mobile s */
    
@media screen and (max-width: 320px) {
.boxback {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    margin-left: 50px;
    margin-right: -590px;
}

h1 {
    font-size: 35px;   
}

}